.dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    overflow: auto;
  }
}
